{% extends "base.html" %} {% block header %}
<h1>{% block title %}Register{% endblock %}</h1>
{% endblock %} {% block content %}
<form method="post">
  <label for="username">Username</label>
  <input name="username" id="username" required />
  <br />
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required />
  <br />
  <input type="submit" value="Register" />
</form>
<script>
  const form = document.forms[0];

  form.onsubmit = async (e) => {
    e.preventDefault();

    const username = document.getElementById("username").value;
    const password = document.getElementById("password").value;

    const response = await fetch("/register", {
      method: "POST",
      body: JSON.stringify({ username, password }),
    });

    const data = await response.json();

    console.log(data);
  };
</script>
{% endblock %}
